<div class="banner">
  <a href="#" class="banner_item">
    <picture class="banner_item_mask">
      <source media="(max-width: 767px)" srcset="../../../../assets/doctor.jpg" />
      <img src="../../../../assets/doctor.jpg" alt="" class="banner_item_bg" />
    </picture>

    <div class="banner_miniBox">
      <h2 class="banner_title">Directorio Médico</h2>
    </div>
  </a>

  <a href="#" class="banner_item">
    <picture class="banner_item_mask">
      <source
        media="(max-width: 767px)"
        srcset="../../../../assets/calendario.jpg"
      />
      <img
        src="../../../../assets/calendario.jpg"
        alt=""
        class="banner_item_bg"
      />
    </picture>

    <div class="banner_miniBox">
      <h2 class="banner_title">Agendar Examen</h2>
    </div>
  </a>

  <a href="#" class="banner_item">
    <picture class="banner_item_mask">
      <source
        media="(max-width: 767px)"
        srcset="../../../../assets/consultar.jpg"
      />
      <img
        src="../../../../assets/consultar.jpg"
        alt=""
        class="banner_item_bg"
      />
    </picture>

    <div class="banner_miniBox">
      <h2 class="banner_title">Consultar Resultados</h2>
    </div>
  </a>
</div>
