<header>
  <div class="header_top">
    <div class="header_container">
      <div class="header_numbers">
        <span class="icon icon--phone"></span>
        <p class="text--m white">
          +571 000-0000 - +571 000-0000
        </p>
      </div>
      <div class="header_links">
        <a href="/login-practitioner" class="header_links_item d-flex">
          <span class="icon icon--doctors mr10"></span>Profesional de la salud</a>
        <a href="#" class="header_links_item">Directorio Telefónico</a>
        <a href="#" target="_blank" class="header_links_item">Pagos Online</a>
        <a href="#" class="header_links_item">Convenios</a>
      </div>
    </div>
  </div>
  <div class="header_bottom">
    <div class="header_container">
      <section class="logo">
        <a href="/home" class="logo_link">
          <img src="../../../assets/logo.jpg" alt="" />
        </a>
      </section>
      <nav class="nav">
        <ul class="nav_list">
          <li class="nav_item">
            <a class="nav_item_link">Pacientes</a>
          </li>
          <li class="nav_item">
            <a class="nav_item_link">Centros y servicios</a>
          </li>
          <li class="nav_item">
            <a class="nav_item_link">publicaciones y eventos</a>
          </li>
        </ul>
      </nav>
      <div class="userBox">
        <a href="/login-patient" class="btn btn--border btn--arrowR lPurple"
          [style.visibility]="isLogin ? 'hidden' : 'visible'">Login paciente</a>
      </div>
    </div>
  </div>
</header>
