#loginbox {
  background: #d6d6d6;
  height: 300px;
  position: relative;
}
#formbox {
  width: 50%;
}
.center {
  margin: auto;
  width: 30%;
}
h2 {
  background-color: #5E62AA;
  color: white;
  padding: 10px;
}
.errorCampo {
  color: red;
}
input {
  width: 100%;
}
button {
  position: absolute;
  bottom: 10px;
}
.box {
  height: 85px;
}
