body,
html,
h6,
h5,
h4,
h3,
h2,
h1,
p {
  font-family: "poppins", arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
#loginbox {
  height: 450px;
  position: relative;
  margin-top: 90px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#formbox {
  font-family: "poppins", arial, sans-serif;
  width: 80%;
}
.center {
  margin: auto;
  width: 30%;
}
.title {
  width: 100%;
  font-size: 30px;
  text-align: center;
  color: #5E62AA !important;
  text-transform: uppercase;
  margin-bottom: 3  0px !important;
}
.form_box {
  width: 100%;
  margin-bottom: 10px;
}
.form_input {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #e1e3e6;
  font-family: "poppinsLight", Arial, Helvetica, sans-serif;
  font-size: 0.85714rem;
  color: #b5b5b5;
  letter-spacing: 1px;
  resize: none;
  margin-bottom: 15px !important;
}
.form_input::-webkit-input-placeholder {
  color: #b5b5b5;
}
.form_input:-moz-placeholder {
  color: #b5b5b5;
}
.form_input::-moz-placeholder {
  color: #b5b5b5;
}
.form_input:-ms-input-placeholder {
  color: #b5b5b5;
}
.help {
  display: inline-block;
  font-size: 12px;
  color: #5E62AA !important;
  font-family: "poppinsMedium", Arial, Helvetica, sans-serif;
  margin-bottom: 15px !important;
  cursor: help;
}
input {
  width: 100%;
}
.form_box button {
  position: absolute;
  bottom: 10px;
  width: 90%;
}
.btn--gradient {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  vertical-align: middle;
  padding: 14px 40px;
  outline: none;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  color: #fff;
  background: linear-gradient(60deg, #8B388A 55%, #5E62AA);
  transition: all 0.3s ease;
  width: 110%;
}
.btn--gradient:hover {
  background: linear-gradient(168.27deg, #8B388A 35.62%, #5E62AA 100%);
}
.modal {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: 3000;
}
.modal .title {
  width: 100%;
  font-size: 25px;
  font-family: "poppinsSemibold", Arial, Helvetica, sans-serif;
  text-align: center;
  color: white !important;
  text-transform: uppercase;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  letter-spacing: 1px;
}
.modal_container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  height: auto;
  min-height: auto;
  text-align: center;
  position: relative;
  box-shadow: 0 0 30px rgba(74, 74, 74, 0.15);
  background: #fff;
}
.modal_header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  background: linear-gradient(60deg, #8B388A 55%, #5E62AA);
  position: relative;
}
.modal_close {
  position: absolute;
  width: 11px;
  height: 11px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 15px;
}
.icon--close {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 40px;
  height: 40px;
  object-fit: contain;
  object-position: center;
  background-size: contain !important;
  transition: all 0.3s ease;
  background: url("../../../assets/icons/close.png") no-repeat center;
  background-size: contain;
}
.modal .icon--close {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
}
.modal_content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 15px;
}
.modal_content .text {
  width: 100%;
  font-size: 14px;
  color: #4a4a4a !important;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 20px !important;
  margin-bottom: 30px !important;
}
