<header>
  <div class="header_top">
    <div class="header_container">
      <div class="header_numbers">
        <p class="text--m white">
          +571 000-0000 - +571 000-0000
        </p>
      </div>
      <div class="header_links">
        <a [routerLink]="['/login-practitioner']" class="header_links_item d-flex">Profesional de la salud</a>
        <a [routerLink]="['/login-administrator']" class="header_links_item">Personal administrativo</a>
      </div>
    </div>
  </div>
  <div class="header_bottom">
    <div class="header_container">
      <section class="logo">
        <a [routerLink]="['/home']" class="logo_link">
          <img src="../../../../assets/images/logo.jpg" alt="" />
        </a>
      </section>
      <nav class="nav">
        <ul class="nav_list">
          <li class="nav_item">
            <a class="nav_item_link">Pacientes</a>
          </li>
          <li class="nav_item">
            <a class="nav_item_link">Centros y servicios</a>
          </li>
          <li class="nav_item">
            <a class="nav_item_link">publicaciones y eventos</a>
          </li>
        </ul>
      </nav>
      <div class="userBox">
        <a [routerLink]="['/login-patient']" class="btn btn--border btn--arrowR lPurple"
          [style.visibility]="isLogin ? 'hidden' : 'visible'">Login paciente</a>
      </div>
    </div>
  </div>
</header>
