<div id="loginbox" class="center">
  <h2 class="title">Bienvenido Paciente</h2>
  <div id="formbox" class="center">
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="form_box">
        <mat-form-field>
          <mat-label>Elige un tipo de identificación</mat-label>
          <mat-select [(ngModel)]="idType" name="idType" required>
            <mat-option *ngFor="let i of idOptions | keyvalue" [value]="i.key">
              {{i.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form_box">
        <mat-form-field>
          <mat-label>Número de identificación</mat-label>
          <input matInput [(ngModel)]="id" name="idNumber" type="number" required>
        </mat-form-field>
      </div>
      <div class="form_box">
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput [(ngModel)]="password" name="password" [type]="hide ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <a [routerLink]="['./']" class="help">¿Necesitas ayuda para ingresar?</a>
      <button mat-flat-button type="submit" class="btn--gradient" [disabled]="!loginForm.form.valid">
        Iniciar sesión
      </button>
    </form>
  </div>
  <section class="modal" *ngIf="incorrectLogin">
    <div class="modal_container">
      <div class="modal_header">
        <h2 class="title">Aviso</h2>
        <span class="icon--close modal_close" (click)="close()"></span>
      </div>
      <div class="modal_content">
        <p class="text">
          Usuario y/o contraseña incorrectos.
        </p>
      </div>
    </div>
  </section>
  <section class="modal" *ngIf="invalidAuthorities">
    <div class="modal_container">
      <div class="modal_header">
        <h2 class="title">Aviso</h2>
        <span class="icon--close modal_close" (click)="close()"></span>
      </div>
      <div class="modal_content">
        <p class="text">
          Estimado usuario, usted no cuenta con los permisos necesarios para acceder como paciente en esta IPS.
        </p>
      </div>
    </div>
  </section>
</div>
