<div id="loginbox" class="center">
  <h2>Bienvenido</h2>
  <div id="formbox" class="center">
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="box">
        <div>
          <label for="txtEmail">Email: </label><br>
          <input type="text" pattern="\w+@\w+(\.\w+)*" id="txtEmail" required #txtEmail="ngModel" name="email"
            [(ngModel)]="email" placeholder="Ingrese su correo">
        </div>
        <div [hidden]="txtEmail.valid || !txtEmail.touched" class="errorCampo">
          Email invalido
        </div>
      </div>
      <div class="box">
        <div>
          <label for="txtPassword">Contraseña: </label><br>
          <input type="password" id="txtPassword" required #txtPassword="ngModel" name="password"
            [(ngModel)]="password">
        </div>
        <div [hidden]="txtPassword.valid || !txtPassword.touched" class="errorCampo">
          Este campo es obligatorio
        </div>
      </div>
      <div [hidden]=!incorrectLogin class="errorCampo">
        Email o contraseña incorrectos
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">
        Iniciar sesión
      </button>
    </form>
  </div>
</div>
