<div class="banner">
  <a href="admin/signup-practitioner" class="banner_item">
    <picture class="banner_item_mask">
      <source media="(max-width: 767px)" srcset="../../../../assets/doctores.jpg" />
      <img src="../../../../assets/doctores.jpg" alt="" class="banner_item_bg" />
    </picture>
    <div class="banner_miniBox">
      <h2 class="banner_title">Registro profesional de la salud</h2>
    </div>
  </a>

  <a href="admin/signup-administrative-assistant" class="banner_item">
    <picture class="banner_item_mask">
      <source media="(max-width: 767px)" srcset="../../../../assets/axuliar_administrativo_salud.jpg" />
      <img src="../../../../assets/axuliar_administrativo_salud.jpg" alt="" class="banner_item_bg" />
    </picture>
    <div class="banner_miniBox">
      <h2 class="banner_title">Registro auxiliar administrativo</h2>
    </div>
  </a>
</div>
