<div id="loginbox" class="center">
  <div id="formbox" class="center">
    <h2 class="title">Ingreso Profesional de la Salud</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="form_box">
        <div>
          <label for="idType">Tipo de identificación: </label><br />
          <select id="idType" class='form-control form_select' name="idType" required [(ngModel)]="idType"
            #txtType="ngModel">
            <option disabled hidden>Selecciona un tipo</option>
            <option *ngFor="let o of options" [value]="o.value">{{o.name}}</option>
          </select>
        </div>
      </div>
      <div class="form_box">
        <div>
          <label for="idNumber">Número de identificación: </label><br />
          <input class="form_input" type="text" id="idNumber" required #idNumber="ngModel" name="idNumber" [(ngModel)]="id"
            placeholder="Ingrese su número de identificación"/>
        </div>
        <!--- TODO should i put this? -->
        <div [hidden]="idNumber.valid || !idNumber.touched"></div>
      </div>
      <div class="form_box">
        <div>
          <label for="txtPassword">Contraseña: </label><br />
          <input class="form_input" type="password" id="txtPassword" required #txtPassword="ngModel" name="password"
            [(ngModel)]="password" placeholder="Ingrese su contraseña" />
        </div>
        <!--- TODO should i put this? -->
        <div [hidden]="txtPassword.valid || !txtPassword.touched"></div>
      </div>
      <div class="form_box">
        <mat-checkbox class="form_checkbox" [(ngModel)]="checked" name="fingerprint" id="fingerprint">
          Huella válida
        </mat-checkbox>
      </div>
      <a href="#" class="help">¿Necesitas ayuda para ingresar?</a>
      <button type="submit" class="btn--gradient" [disabled]="!loginForm.form.valid">
        Iniciar sesión
      </button>
    </form>
  </div>
  <section class="modal" *ngIf="incorrectLogin">
    <div class="modal_container">
      <div class="modal_header">
        <h2 class="title">Aviso</h2>
        <span class="icon--close modal_close" (click)="close()"></span>
      </div>
      <div class="modal_content">
        <p class="text">
          Usuario y/o contraseña incorrectos.
        </p>
      </div>
    </div>
  </section>
</div>
