<div id="loginbox" class="center">
  <div id="formbox" class="center">
    <h2 class="title">Ingreso Personal administrativo</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="form_box">
        <div>
          <label for="txtEmail">Email: </label><br />
          <input class="form_input" type="text" pattern="\w+@\w+(\.\w+)*" id="txtEmail" required #txtEmail="ngModel"
            name="email" [(ngModel)]="email" placeholder="Ingrese su correo" />
        </div>
        <!--- TODO should i put this? -->
        <div [hidden]="txtEmail.valid || !txtEmail.touched"></div>
      </div>
      <div class="form_box">
        <div>
          <label for="txtPassword">Contraseña: </label><br />
          <input class="form_input" type="password" id="txtPassword" required #txtPassword="ngModel" name="password"
            [(ngModel)]="password" placeholder="Ingrese su contraseña" />
        </div>
        <!--- TODO should i put this? -->
        <div [hidden]="txtPassword.valid || !txtPassword.touched"></div>
      </div>
      <div class="form_box">
        <input type="checkbox" name="fingertip" class="form_checkbox" id="fingertip" />
        <label for="fingertip" class="form_label form_label--checkbox">
          Huella válida
        </label>
      </div>
      <a href="#" class="help">¿Necesitas ayuda para ingresar?</a>
      <!-- TODO fix button, if fields are not properly filled, the modal doesn't popup -->
      <button type="submit" class="btn--gradient" [disabled]="!loginForm.form.valid">
        Iniciar sesión
      </button>
    </form>
  </div>
  <section class="modal" *ngIf="incorrectLogin">
    <div class="modal_container">
      <div class="modal_header">
        <h2 class="title">Aviso</h2>
        <span class="icon--close modal_close" (click)="close()"></span>
      </div>
      <div class="modal_content">
        <p class="text">
          Usuario y/o contraseña incorrectos.
        </p>
      </div>
    </div>
  </section>
</div>
