<div id="formbox" class="center">
  <p>Nombre: {{practitioner.name}}</p>
  <p>Fecha de nacimiento: {{practitioner.birthDate}}</p>
  <p>Genero: {{practitioner.gender}}</p>
  <form (ngSubmit)="signup()" #signupForm="ngForm">
    <div class="form_box">
      <label for="telecom">Puntos de contacto: </label><br />
      <div *ngFor="let t of telecoms; let i = index">
        <div class="inline">
          <select id="telecomSyst" class='form-control form_select' name="telecomSyst" required [(ngModel)]="telecoms[i].system"
            #telecomSyst="ngModel">
            <option disabled hidden>Selecciona un tipo</option>
            <option *ngFor="let s of systems" [value]="s.value">{{s.name}}</option>
          </select>
        </div>
        <div class="inline">
          <select id="telecomUse" class='form-control form_select' name="telecomUse" required [(ngModel)]="telecoms[i].use"
            #telecomUse="ngModel">
            <option disabled hidden>Selecciona un tipo</option>
            <option *ngFor="let u of uses" [value]="u.value">{{u.name}}</option>
          </select>
        </div>
        <div class="inline">
          <input class="form_input" type="text" id="txtTelecom" required #txtTelecom="ngModel" name="telecom"
            [(ngModel)]="telecoms[i].value" placeholder="Ingrese su número" />
        </div>
      </div>
    </div>
    <div class="form_box">
      <div>
        <label for="address">Direcciones: </label><br />
        <input class="form_input" type="text" id="txtAddress" required #txtAddress="ngModel" name="address"
          [(ngModel)]="address" placeholder="Ingrese su dirección" />
      </div>
      <!--- TODO should i put this? -->
      <div [hidden]="txtAddress.valid || !txtAddress.touched"></div>
    </div>
    <br>
    <table class="table">
      <thead class="thead-color">
        <tr>
          <th scope="col">Titulo Profesional</th>
          <th scope="col">Fecha desde que puede ejercer </th>
          <th scope="col">Entidad Reportadora</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let q of practitioner.qualifications">
          <td>{{q.name}}</td>
          <td>{{q.startDate}}</td>
          <td>{{q.reportingEntity}}</td>
        </tr>
      </tbody>
    </table>
    <div class="btn">
      <button type="submit" class="btn--gradient" [disabled]="!signupForm.form.valid">
        Registrar
      </button>
    </div>
  </form>
  <section class="modal" *ngIf="incorrectSignup">
    <div class="modal_container">
      <div class="modal_header">
        <h2 class="title">Aviso</h2>
        <span class="icon--close modal_close" (click)="closeError()"></span>
      </div>
      <div class="modal_content">
        <p class="text">
          Ha ocurrido un error, intente nuevamente.
        </p>
      </div>
    </div>
  </section>
  <section class="modal" *ngIf="successSignup">
    <div class="modal_container">
      <div class="modal_header">
        <h2 class="title">Aviso</h2>
        <span class="icon--close modal_close" (click)="closeSuccess()"></span>
      </div>
      <div class="modal_content">
        <p class="text">
          Registro exitoso.
        </p>
      </div>
    </div>
  </section>
</div>
