<div id="formbox" class="center">
  <p>Nombre: {{practitioner.name}}</p>
  <p>Fecha de nacimiento: {{practitioner.birthDate}}</p>
  <p>Genero: {{practitioner.gender}}</p>
  <form (ngSubmit)="signup()" #signupForm="ngForm">
    <div class="form_box">
      <label for="telecom">Telefono: </label><br />
      <div class="inline">
        <select id="telecomUse" class='form-control form_select' name="telecomUse" required [(ngModel)]="use"
          #telecomUse="ngModel">
          <option disabled hidden>Selecciona un tipo</option>
          <option *ngFor="let o of options" [value]="o.value">{{o.name}}</option>
        </select>
      </div>
      <div class="inline">
        <input class="form_input" type="text" id="txtTelecom" required #txtTelecom="ngModel" name="telecom"
          [(ngModel)]="phone" placeholder="Ingrese su número" />
      </div>
      <!--- TODO should i put this? -->
      <div [hidden]="txtTelecom.valid || !txtTelecom.touched"></div>
    </div>
    <div class="form_box">
      <div>
        <label for="address">Dirección: </label><br />
        <input class="form_input" type="text" id="txtAddress" required #txtAddress="ngModel" name="address"
          [(ngModel)]="address" placeholder="Ingrese su dirección" />
      </div>
      <!--- TODO should i put this? -->
      <div [hidden]="txtAddress.valid || !txtAddress.touched"></div>
    </div>
    <br>
    <table class="table">
      <thead class="thead-color">
        <tr>
          <th scope="col">Titulo Profesional</th>
          <th scope="col">Fecha desde que puede ejercer </th>
          <th scope="col">Entidad Reportadora</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let q of qualifications">
          <td>{{q.name}}</td>
          <td>{{q.startDate}}</td>
          <td>{{q.reportingEntity}}</td>
        </tr>
      </tbody>
    </table>
    <div class="btn">
      <button type="submit" class="btn--gradient" [disabled]="!signupForm.form.valid">
        Registrar
      </button>
    </div>
  </form>
</div>
