// Import material theming functions
@import "~@angular/material/theming";

// Define custom color palletes
$plum: (
  Main: #8b388a,
  Light: #bd67ba,
  Dark: #5b005c,
  contrast: (
    Main: #f5f5f5,
    Light: #000,
    Dark: #fff,
  ),
);

$scampi: (
  Main: #5e62aa,
  Light: #8e8fdc,
  Dark: #2e387a,
  contrast: (
    Main: #fff,
    Light: #fff,
    Dark: #fff,
  ),
);

$text-color: #4a4a4a;
$disable: #dddddd;
$grey-light: #f7f7f7;
$grey: #dbdbdb;
$child-green: #00cc9f;
$child-blue: #1d62ad;

// Copy the palettes from your selected theme (usually theme.scss).
$health-entity-web-primary: mat-palette($plum, Main, Light, Dark);
$health-entity-web-accent: mat-palette($scampi, Main, Light, Dark);
$health-entity-web-warn: mat-palette($mat-red, A200, A400, A700);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($health-entity-web-primary, Main);
$primary-light: mat-color($health-entity-web-primary, Light);
$primary-dark: mat-color($health-entity-web-primary, Dark);
$accent: mat-color($health-entity-web-accent, Main);
$accent-light: mat-color($health-entity-web-accent, Light);
$accent-dark: mat-color($health-entity-web-accent, Dark);
$warn: mat-color($health-entity-web-warn, A200);
