@charset "UTF-8";
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

html,
body,
body *,
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
html,
h6,
h5,
h4,
h3,
h2,
h1,
p {
  font-family: "poppins", arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
