@import "~_variables.scss";

label {
  font-weight: bold;
  margin-right: 5px;
  display: block;
}
#box {
  position: relative;
  margin: 15px auto 80px auto;
  max-width: 1200px;
}
#formbox {
  font-family: "poppins", arial, sans-serif;
  width: 100%;
  overflow: hidden;
}
.center {
  width: 80%;
}
.title {
  width: 100%;
  font-size: 30px;
  text-align: center;
  color: $accent !important;
  text-transform: uppercase;
  margin-bottom: 10px !important;
}
table {
  width: 100%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  width: 49%;
}
.column:nth-child(even) {
  float: right;
}
.column:nth-child(odd) {
  float: left;
}
.form_box {
  margin-bottom: 10px;
  margin-top: 10px;
}
mat-form-field {
  width: 98%;
}
.radio-group {
  display: flex;
  margin: 16px 0 28px 0;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 30px;
}
.inline50 {
  float:left;
  width: 50%;
}
.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}
.btn--gradient {
  cursor: pointer;
  border: none;
  color: white;
  background: linear-gradient(60deg, $primary 55%, $accent);
  transition: all 0.3s ease;
  width: 50%;
}
.btn--gradient:hover {
  background: linear-gradient(168.27deg, $primary 35.62%, $accent 100%);
}
.btn--gradient:disabled {
  cursor: not-allowed;
  background: $disable;
}


.modal {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background: $shadow-background;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: 3000;
}
.modal .title {
  width: 100%;
  font-size: 25px;
  font-family: "poppinsSemibold", Arial, Helvetica, sans-serif;
  text-align: center;
  color: white !important;
  text-transform: uppercase;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  letter-spacing: 1px;
}
.modal_container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  height: auto;
  min-height: auto;
  text-align: center;
  position: relative;
  box-shadow: 0 0 30px $shadow;
  background: white;
}
.modal_header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  background: linear-gradient(60deg, $primary 55%, $accent);
  position: relative;
}
.modal_close {
  position: absolute;
  width: 11px;
  height: 11px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 15px;
}
.icon--close {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 40px;
  height: 40px;
  object-fit: contain;
  object-position: center;
  background-size: contain !important;
  transition: all 0.3s ease;
  background: url("../../../../../assets/icons/close.png") no-repeat center;
  background-size: contain;
}
.modal .icon--close {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
}
.modal_content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 15px;
}
.modal_content .text {
  width: 100%;
  font-size: 14px;
  color: $text-color !important;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 20px !important;
  margin-bottom: 30px !important;
}


