// Import material theming functions
@import "~@angular/material/theming";

// Define custom color palletes
$primary: (
  Main: #ee4c7c,
  Light: #ff81ab,
  Dark: #b70050,
  contrast: (
    Main: #000,
    Light: #000,
    Dark: #fff,
  ),
);
$secondary: (
  Main: #9a1750,
  Light: #cf4f7c,
  Dark: #660028,
  contrast: (
    Main: #fff,
    Light: #000,
    Dark: #fff,
  ),
);

$text-color: #4a4a4a;
$disable: #dddddd;
$gray: #dbdbdb;
$gray-light: #f7f7f7;
$gray-dark: #939393b3;
$child-green: #00cc9f;
$child-blue: #1d62ad;
$shadow: #4a4a4a26;
$shadow-background: #000000e6;

// Copy the palettes from your selected theme (usually theme.scss).
$health-entity-web-primary: mat-palette($primary, Main, Light, Dark);
$health-entity-web-accent: mat-palette($secondary, Main, Light, Dark);
$health-entity-web-warn: mat-palette($mat-red, A200, A400, A700);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($health-entity-web-primary, Main);
$primary-light: mat-color($health-entity-web-primary, Light);
$primary-dark: mat-color($health-entity-web-primary, Dark);
$primary-contrast: mat-contrast($health-entity-web-primary, Main);

$accent: mat-color($health-entity-web-accent, Main);
$accent-light: mat-color($health-entity-web-accent, Light);
$accent-dark: mat-color($health-entity-web-accent, Dark);
$accent-contrast: mat-contrast($health-entity-web-accent, Main);

$warn: mat-color($health-entity-web-warn, A200);
