<div id="formbox" class="center">
  <p class="label">Nombre:</p>
  <p>{{patient.name}}</p>
  <p class="label">Fecha de nacimiento: </p>
  <p>{{patient.birthDate}}</p>
  <p class="label">Genero: </p>
  <p>{{patient.gender}}</p>
  <form (ngSubmit)="validate()" #detailsForm="ngForm">
    <div class="form_box">
      <label class="label" for="telecom">Datos de contacto: </label><br />
      <div *ngFor="let t of telecoms;let index = index;trackBy:trackByIndex;">
        <div class="inline33">
          <mat-form-field>
            <mat-label>Selecciona un sistema</mat-label>
            <mat-select [(ngModel)]="telecoms[index].system" [ngModelOptions]="{standalone: true}" required>
              <mat-option *ngFor="let s of systems" [value]="s.value">
                {{s.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="inline33">
          <mat-form-field>
            <mat-label>Selecciona un tipo</mat-label>
            <mat-select [(ngModel)]="telecoms[index].use" [ngModelOptions]="{standalone: true}" required>
              <mat-option *ngFor="let u of uses" [value]="u.value">
                {{u.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="inline33">
          <mat-form-field>
            <mat-label>Ingrese contacto</mat-label>
            <input matInput [(ngModel)]="telecoms[index].value" [ngModelOptions]="{standalone: true}" type="text" required>
          </mat-form-field>
        </div>
      </div>
      <div>
        <i (click)='addContactPoint()' class="fa fa-plus-square fa-2x"></i>
        <i (click)='deleteContactPoint()' class="fa fa-minus-square fa-2x"></i>
      </div>
    </div>
    <div class="form_box">
      <div>
        <label class="label" for="address">Direcciones: </label><br />
        <div class="addressBox" *ngFor="let a of addresses;let index = index;trackBy:trackByIndex;">
          <div class="inline50">
            <mat-form-field>
              <mat-label>Selecciona una ciudad</mat-label>
              <mat-select [(ngModel)]="addresses[index].city" [ngModelOptions]="{standalone: true}" required>
                <mat-option *ngFor="let c of cities" [value]="c">
                  {{c}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="inline50">
            <mat-form-field>
              <mat-label>Selecciona un tipo</mat-label>
              <mat-select [(ngModel)]="addresses[index].use" [ngModelOptions]="{standalone: true}" required>
                <mat-option *ngFor="let u of addressUses" [value]="u.value">
                  {{u.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-form-field>
            <mat-label>Ingrese la descripción de la dirección</mat-label>
            <input matInput [(ngModel)]="addresses[index].text" [ngModelOptions]="{standalone: true}" type="text" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Ingrese su dirección</mat-label>
            <input matInput [(ngModel)]="addresses[index].line" [ngModelOptions]="{standalone: true}" type="text" required>
          </mat-form-field>
        </div>
        <div>
          <i (click)='addAddress()' class="fa fa-plus-square fa-2x"></i>
          <i (click)='deleteAddress()' class="fa fa-minus-square fa-2x"></i>
        </div>
      </div>
    </div>
    <br>
    <div class="btn">
      <button type="submit" class="btn--gradient" [disabled]="!detailsForm.form.valid">
        Continuar
      </button>
    </div>
  </form>
  <section class="modal" *ngIf="incorrectSignup">
    <div class="modal_container">
      <div class="modal_header">
        <h2 class="title">Error</h2>
        <span class="icon--close modal_close" (click)="closeError()"></span>
      </div>
      <div class="modal_content">
        <p class="text">
          Ha ocurrido un error, intente nuevamente.
        </p>
      </div>
    </div>
  </section>
  <section class="modal" *ngIf="successSignup">
    <div class="modal_container">
      <div class="modal_header">
        <h2 class="title">Aviso</h2>
        <span class="icon--close modal_close" (click)="closeSuccess()"></span>
      </div>
      <div class="modal_content">
        <p class="text">
          Registro exitoso.
        </p>
      </div>
    </div>
  </section>
  <section class="modal" *ngIf="enterFingerprint">
    <div class="modal_container">
      <div class="modal_header">
        <h2 class="title">Ingresar huella</h2>
        <span class="icon--close modal_close" (click)="closeFingerPrint()"></span>
      </div>
      <form (ngSubmit)="signup()" #signupForm="ngForm">
        <div class="modal_content" id="fingerprint">
          <img src="../../../../assets/images/fingerprint.png" alt="" class="banner_item_bg" />
          <div class="form_box">
            <mat-checkbox class="form_checkbox" [(ngModel)]="checked" name="fingerprint" id="fingerprint">
              Huella válida
            </mat-checkbox>
          </div>
          <div class="btn">
            <button type="submit" class="btn--gradient" [disabled]="!signupForm.form.valid">
              Registrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
