@import "~_variables.scss";

p {
  margin-bottom: 7px;
}
#detailsbox {
  font-family: "poppins", arial, sans-serif;
  width: 100%;
  overflow: hidden;
  border-top: 2px solid rgba(147, 147, 147, 0.7);
}
.center {
  margin: auto;
  width: 100%;
}
table {
  width: 100%;
  margin-bottom: 20px;
}
th {
  font-family: "poppinsSemiBold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: $primary;
}
.box {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.label {
  font-weight: bold;
}
