<div id="detailsbox" class="center">
  <p class="label">Nombre:</p> <p>{{patient.name}}</p>
  <p class="label">Fecha de nacimiento: </p> <p>{{patient.birthDate}}</p>
  <p class="label">Genero: </p> <p>{{patient.gender}}</p>
  <div class="box">
    <p class="label">Datos de contacto: </p>
    <table class="table">
      <thead class="thead-color">
        <tr>
          <th scope="col">Tipo</th>
          <th scope="col">Sistema</th>
          <th scope="col">Número</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of patient.telecoms">
          <td>{{t.use}}</td>
          <td>{{t.system}}</td>
          <td>{{t.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="box">
    <p class="label">Direcciones: </p>
    <table class="table">
      <thead class="thead-color">
        <tr>
          <th scope="col">Ciudad</th>
          <th scope="col">Tipo</th>
          <th scope="col">Nombre</th>
          <th scope="col">Dirección</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of patient.addresses">
          <td>{{a.city}}</td>
          <td>{{a.use}}</td>
          <td>{{a.text}}</td>
          <td>{{a.line}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
