<footer>
  <div>
    <div class="footer_container pt45 pb45">
      <div class="footer_left pb10">
        <div class="footer_logo mb50">
          <img
            src="../../../../assets/images/logo.jpg"
            alt=""
          />
        </div>
        <h2 class="title xlBlack mb15">Contáctenos</h2>
        <div class="footer_miniBox">
          <span class="icon icon--call-answer mr20"></span>
          <p class="text--r xlBlack">
            +571 000-0000 - +571 000-0000
          </p>
        </div>
        <div class="footer_miniBox">
          <span class="icon icon--location mr20"></span>
          <p class="text--r xlBlack">Carrera 1 No. 2 - 3</p>
        </div>
        <div class="footer_miniBox">
          <span class="icon icon--message mr20 pr10"></span>
          <p class="text--r xlBlack wbBA pr10">
            quejasysugerencias@gastrosalud.co
          </p>
        </div>
        <div class="footer_miniBox">
          <span class="icon icon--mailFooter mr20"></span>
          <a href="#" class="text--r xlBlack">
            Formulario de contacto
          </a>
        </div>
        <div class="footer_miniBox">
          <p class="text--r xlBlack">Bogotá, Colombia</p>
        </div>
        <div class="footer_social mt10">
          <a href="#" target="_blank">
            <span class="icon icon--facebook-logo"></span>
          </a>
          <a href="#" target="_blank">
            <span class="icon icon--youtube-logo "></span>
          </a>
        </div>
      </div>
      <div class="footer_right">
        <ul class="footer_list">
          <li class="footer_list_item">
            <a href="#" class="footer_list_link">Sobre la clínica</a>
          </li>
          <li class="footer_list_item">
            <a href="#" class="footer_list_link">Responsabilidad Social</a>
          </li>
          <li class="footer_list_item">
            <a href="#" class="footer_list_link">Memoria de sostenibilidad</a>
          </li>
          <li class="footer_list_item">
            <a
              href="/sobre-la-clinica#reconocimientos"
              class="footer_list_link">Reconocimientos</a>
          </li>
        </ul>
        <ul class="footer_list">
          <li class="footer_list_item">
            <a
              href="/privacidad-y-tratamiento-de-datos"
              class="footer_list_link">Política de Tratamiento de Datos Personales</a>
          </li>
          <li class="footer_list_item">
            <a href="#" class="footer_list_link">Términos y Condiciones</a>
          </li>
          <li class="footer_list_item">
            <a href="#" class="footer_list_link">Línea ética de denuncias</a>
          </li>
          <li class="footer_list_item">
            <a
              href="https://educountry.clinicadelcountry.com/moodle/"
              target="_blank"
              class="footer_list_link">Educación Interna</a>
          </li>
        </ul>
        <ul class="footer_list">
          <li class="footer_list_item">
            <a
              href="/derechos-y-deberes-del-paciente"
              class="footer_list_link"
              >Derechos y deberes del paciente</a
            >
          </li>
          <li class="footer_list_item">
            <a
              href="/derechos-de-los-ninos"
              class="footer_list_link children-rights"
              style="color: #024f09 !important;"
            >
              <span>Derechos</span>
              <span class="blue"> y deberes </span>
              <span>de los niños</span>
            </a>
          </li>
          <li class="footer_list_item">
            <a href="#" class="footer_list_link">Trabaje con Nosotros</a>
          </li>
          <li class="footer_list_item">
            <a href="#" class="footer_list_link">Convenios</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="footer_container pt10 pb10">
        <div>
            <p class="text--xs xlBlack">© Copyright 2020 Gastro Salud</p>
        </div>
    </div>
</div>
</footer>
