@import "~_variables.scss";

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

img {
  display: inline-block;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.wbBA {
  word-break: break-all;
}

footer {
  width: 100%;
  background: $grey-light;
}

.footer_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  min-height: 35px;
  padding-left: 80px;
  padding-right: 80px;
}

.footer_bottom {
  background: $grey;
}

.footer_left {
  width: 320px;
  border-right: 1px solid rgba(147, 147, 147, 0.7);
  font-family: "poppins", arial, sans-serif;
}

.footer_right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: calc(100% - 320px);
  padding-top: 92px;
  padding-left: 70px;
}

.footer_logo {
  height: 30px;
  width: 30px;
}

.footer_miniBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  padding-right: 20px;
}

.footer_miniBox:nth-last-of-type(2) {
  margin-bottom: 20px;
}

.footer_list {
  width: 32%;
  margin-right: 0.5%;
  font-family: "poppins", arial, sans-serif;
}

.footer_list_link {
  color: $text-color;
}

.footer_list:last-of-type {
  margin-right: 0;
}

.footer_list_item {
  margin-bottom: 15px;
  font-size: 15px;
}

.footer_social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.title {
  width: 100%;
  font-size: 18px;
  font-family: "poppinsSemibold", Arial, Helvetica, sans-serif;
}

.text--r {
  width: 100%;
  font-size: 13px;
}

.text--xs {
  width: 100%;
  font-size: 0.71429rem;
}

.xlBlack {
  color: $text-color !important;
}

.icon {
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 40px;
  height: 40px;
  object-fit: contain;
  object-position: center;
  background-size: contain !important;
  transition: all 0.3s ease;
}

.icon--call-answer {
  background: url("../../../../assets/icons/phone.svg") no-repeat center;
  width: 16px;
  height: 16px;
}

.icon--location {
  background: url("../../../../assets/icons/location.svg") no-repeat center;
  width: 17px;
  height: 23px;
}

.icon--message {
  background: url("../../../../assets/icons/mail.svg") no-repeat center;
  width: 20px;
  height: 13px;
}

.icon--mailFooter {
  background: url("../../../../assets/icons/form.svg") no-repeat center;
  width: 20px;
  height: 20px;
}

.icon--facebook-logo {
  background: url("../../../../assets/icons/facebook.svg") no-repeat center;
  width: 12px;
  height: 22px;
}

.icon--youtube-logo {
  background: url("../../../../assets/icons/youtube.svg") no-repeat center;
  width: 29px;
  height: 23px;
  margin: 0 15px;
}

.children-rights {
  font-family: "schoolbell", Arial, Helvetica, sans-serif;
  color: $child-green !important;
  font-size: 1.14286rem;
}

.blue {
  color: $child-blue !important;
}
