<div id="box" class="center">
  <h2 class="title">Registro Paciente</h2>
  <div id="formbox" class="center">
    <form (ngSubmit)="search()" #searchForm="ngForm">
      <div class="form_box inline">
        <mat-form-field>
          <mat-label>Elige un tipo de identificación</mat-label>
          <mat-select [(ngModel)]="idType" name="idType" [disabled]="found=='found'" required>
            <mat-option *ngFor="let i of idOptions | keyvalue" [value]="i.key">
              {{i.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form_box inline">
        <mat-form-field>
          <mat-label>Número de identificación</mat-label>
          <input matInput [(ngModel)]="id" name="idNumber" type="number" [disabled]="found=='found'" required>
        </mat-form-field>
      </div>
      <div class="btn">
        <button mat-flat-button type="submit" class="btn--gradient" [disabled]="!searchForm.form.valid" *ngIf="found=='pending'">
          Buscar
        </button>
      </div>
    </form>
  </div>
  <section class="modal" *ngIf="found=='not_found'">
    <div class="modal_container">
      <div class="modal_header">
        <h2 class="title">Aviso</h2>
        <span class="icon--close modal_close" (click)="close()"></span>
      </div>
      <div class="modal_content">
        <p class="text">
          No existen registros para el individuo buscado.
        </p>
      </div>
    </div>
  </section>
  <app-details-form-patient *ngIf="found=='found'" [patient]=newPatient></app-details-form-patient>
</div>
